extends ../layout

block content
  h1 Criar uma Pessoa 
  form(action='/life/new', method='POST')
    p
      | ID: 
      input(type='text', name='id', value='')
      | Nome: 
      input(type='text', name='name', value='')
      | Idade: 
      input(type='text', name='age', value='')
      
    input(type='submit', value='Criar')
